/* Navbar container */
.navbar {
  display: flex;
    margin-right: 180px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: #fff;
  position: relative;
  z-index: 1000;
  padding-left: 8px;
  padding-bottom: 30px;
}

/* Logo */
.navbar-logo img {
  height: 70px;
}

/* Toggle button (hidden on desktop) */
.navbar-toggle {
  display: none;
  cursor: pointer;
  z-index: 1100;
}

.navbar-toggle img {
  width: 28px;
  height: 28px;
}

/* Menu (desktop view) */
.navbar-menu {
  display: flex;
  gap: 40px;
    justify-content: center;
    align-items: center;
  list-style: none;
  
}


.navbar-menu li .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  gap: 20px;
  transition: 0.3s;
}

.navbar-menu li .nav-link:hover
 {
  color: #13436b;
}

/* ---------- Mobile Styles ---------- */
@media (max-width:768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    position: absolute;
    top: 70px; /* height of navbar */
    right: 0;
    background: #111;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    gap: 15px;
    display: none; /* hidden by default */
  }
  .navbar{
    margin-right: 0;
  }

  .navbar-menu.is-open {
    display: flex; /* show when open */
  }
}
